<!DOCTYPE html>
<html>
  <head>
    <title>No.1 그룹웨어 Ants!</title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <!-- <script src="/xxx/adapter.js"></script> -->
    <script src="/xxx/adapter.js"></script>

    <!-- <script src="/webjars/sockjs-client/sockjs.min.js"></script> -->
    <script src="/xxx/sockjs.min.js"></script>

    <!-- <script src="/group-call/js/kurento/lib/kurento-utils.js"></script> -->
    <script src="/xxx/kurento-utils.js"></script>

    <!-- <script src="/webjars/jquery/dist/jquery.min.js"></script> -->
    <script src="/xxx/jquery.min.js"></script>

    <!-- <script src="/webjars/stomp-websocket/stomp.min.js"></script> -->
    <script src="/xxx/stomp.min.js"></script>

    <script src="/xxx/conferenceroom.js"></script>

    <script src="/xxx/participant.js"></script>

    <script src="/xxx/app.js"></script>

    <script src="/xxx/dmChat.js"></script>

    <link rel="stylesheet" href="/xxx/style.css">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
